asn1crypto==0.24.0
attrs==18.2.0
backcall==0.1.0
boxsdk==2.0.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
decorator==4.3.0
ftfy==5.5.0
ftputil==3.4
idna==2.7
imageio==2.4.1
ipdb==0.11
IPTCInfo3==2.0.3
ipython==7.1.1
ipython-genutils==0.2.0
jedi==0.13.1
lxml==4.3.0
numpy==1.22.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.2.2
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycparser==2.19
pyexifinfo==0.4.0
Pygments==2.2.0
PyJWT==1.7.1
rawpy==0.13.0
requests==2.20.0
requests-toolbelt==0.8.0
six==1.11.0
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
wrapt==1.11.0
